.layout {
    display: flex;
    flex-wrap: wrap;
    background: url("./quiz_bg.jpg") no-repeat center;
    background-size: cover;
    padding: 4% 1%;
    min-height: 100vh;
}

.content {
    padding: 40px;
    border-radius: 5px;
    background: #fff3;
    font-size: 1.2rem;
    min-width: 300px;
    max-width: 700px;
}

.content__timer {
    float: right;
}

.content__divider {
    background-color: #0003 !important;
}

.content__spinner {
    
}

.back {
    align-self: flex-start;
}
