.layout {
    display: flex;
    flex-wrap: wrap;
    background: url("./quiz_bg.jpg") no-repeat center;
    background-size: cover;
    padding: 4%;
    min-height: 100vh;
}

.content {
    padding: 2%;
    border-radius: 5px;
    background: #fff3;
    min-width: 300px;
    width: 600px;
}

.content__timer {
    float: right;
}

.content__divider {
    background-color: #0003 !important;
}

.back {
    padding: 0 !important;
    height: min-content !important;
}