.btn {
	display: block;
	width: 100%;
	background-color: rgba(255, 252, 252, 0.96);
	border: none;
	padding: 6px 60px;
	font-size: 24px;
}
@media (min-width: 1440px) {
	.btn {
		background-color: rgba(108, 82, 106, 0.42);
		font-size: 36px;
		border-radius: 10px;
	}
}
