.form__group {
	position: relative;
	margin: 12px 0 13px 0;
}
.form__input {
	background: none;
	color: var(--primary-color);
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid var(--primary-color);
}
.form__input:focus {
	outline: none;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
	transform: translate(-8px, -9px) scale(0.75);
}

.form__input:focus ~ .form__span:before {
	transform: scaleX(1);
}
.form__label {
	color: var(--primary-color);
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 0px;
	transition: 300ms ease all;
}
.form__span {
	position: relative;
	display: block;
	width: 100%;
}
.form__span:before {
	content: "";
	height: 2px;
	width: 100%;
	bottom: 0px;
	position: absolute;
	background: var(--primary-color);
	transition: 500ms ease all;
	transform: scaleX(0);
}
@media (min-width: 1440px) {
	.form__label {
		font-size: 18px;
	}
	.form__input:focus ~ .form__label,
	.form__input:not(:placeholder-shown)~ .form__label {
		transform: translate(-8px, -17px) scale(0.9);
	}
}
