.topBar{
    padding: 62px 0 0 26px;
}
.topBar__item{
    margin: 0;
    font-size: 36px;
}
.topBar__title{ 
    color: white;
    font-weight: bold;
}
.topBar__description{
    margin-left: 11px;
    color: rgba(231, 209, 209, 0.71);
}